﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="RaporcuV2.WebApp.Login" %>

<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body id="theBody" runat="server">
<form id="form1" runat="server">
    <div>
    
    </div>
</form>
</body>
</html>
