﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebFormtt.aspx.cs" Inherits="RaporcuV2.WebApp.WebFormtt" %>

<%@ Register assembly="DevExpress.Web.ASPxSpreadsheet.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web.ASPxSpreadsheet" tagprefix="dx" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <dx:ASPxSpreadsheet ID="ASPxSpreadsheet1" runat="server" RibbonMode="OneLineRibbon" WorkDirectory="~/App_Data/WorkDirectory">
            </dx:ASPxSpreadsheet>
        </div>
    </form>
</body>
</html>
